
  <!--Artistas-->

  <section class="text-gray-600 body-font bg-black">

    <p class="text-xl font-semibold text-black dark:text-black">.</p>
    <p class="text-xl font-semibold text-black dark:text-black">.</p>
    
    <p class="text-xl font-semibold text-black dark:text-black">.</p>
    <p class="text-xl font-semibold text-blue-600/75 dark:text-blue-500/75 text-center">Meet Our Artists</p>

    <p class="text-xl font-semibold text-black dark:text-black">.</p>

    <p class="text-4xl font-black text-white dark:text-white text-center">❀ Tattoo Artists ❀</p>
    <p class="text-xl font-semibold text-black dark:text-black">.</p>

    
    <div class="container px-5 py-24 mx-auto">
     

      <!--Listado-->
      <div class="flex flex-wrap -m-4">
        <!--Artista 1-->
        <div class="p-4 lg:w-1/4 md:w-1/2">
          <div class="h-full flex flex-col items-center text-center">
            <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4" src="https://dummyimage.com/200x200">
            <div class="w-full">
              <h2 class="title-font font-medium text-lg text-white">Alper Kamu</h2>
              <h3 class="text-black mb-3"></h3>
              <p class="mb-4 text-white">DIY tote bag drinking vinegar cronut adaptogen squid fanny pack vaporware.</p>
           
            </div>
          </div>
        </div>
         <!--Artista 2-->
         <div class="p-4 lg:w-1/4 md:w-1/2">
            <div class="h-full flex flex-col items-center text-center">
              <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4" src="https://dummyimage.com/200x200">
              <div class="w-full">
                <h2 class="title-font font-medium text-lg text-white">Alper Kamu</h2>
                <h3 class="text-black mb-3"></h3>
                <p class="mb-4 text-white">DIY tote bag drinking vinegar cronut adaptogen squid fanny pack vaporware.</p>
             
              </div>
            </div>
          </div>
         <!--Artista 3-->
        <div class="p-4 lg:w-1/4 md:w-1/2">
          <div class="h-full flex flex-col items-center text-center">
            <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4" src="https://dummyimage.com/200x200">
            <div class="w-full">
              <h2 class="title-font font-medium text-lg text-white">Alper Kamu</h2>
              <h3 class="text-black mb-3"></h3>
              <p class="mb-4 text-white">DIY tote bag drinking vinegar cronut adaptogen squid fanny pack vaporware.</p>
           
            </div>
          </div>
        </div>
         <!--Artista 4-->
         <div class="p-4 lg:w-1/4 md:w-1/2">
            <div class="h-full flex flex-col items-center text-center">
              <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4" src="https://dummyimage.com/200x200">
              <div class="w-full">
                <h2 class="title-font font-medium text-lg text-white">Alper Kamu</h2>
                <h3 class="text-black mb-3"></h3>
                <p class="mb-4 text-white">DIY tote bag drinking vinegar cronut adaptogen squid fanny pack vaporware.</p>
             
              </div>
            </div>
          </div>
          <!--Mas Artistas-->
      </div>
    </div>
  </section>