
<section class="text-gray-600 body-font bg-black">

  <p class="text-xl font-semibold text-black dark:text-black">.</p>
  <p class="text-xl font-semibold text-black dark:text-black">.</p>
  
  <p class="text-xl font-semibold text-black dark:text-black">.</p>
  <p class="text-xl font-semibold text-blue-600/75 dark:text-blue-500/75 text-center">Meet Our Artists</p>

  <p class="text-xl font-semibold text-black dark:text-black">.</p>

  <p class="text-4xl font-black text-white dark:text-white text-center">❀ Tattoo Artists ❀</p>
  <p class="text-xl font-semibold text-black dark:text-black">.</p>

  
  <div class="container px-5 py-24 mx-auto">
   

    <!--Listado-->
    <div class="flex flex-wrap -m-4">
      <!--Artista 1-->
      <div class="p-4 lg:w-1/4 md:w-1/2">
        <div class="h-full flex flex-col items-center text-center">
          <a href="/artist1" >
          <img alt="team" class="flex-shrink-0 rounded-lg w-full h-65 object-cover object-center mb-4" src="assets/imagenes/Jony.jpg">
          </a>
          <div class="w-full">
            <a href="/artist1" >
            <h2 class="title-font font-medium text-lg text-white">Jony</h2>
          </a>
            <h3 class="text-black mb-3"></h3>
         
          </div>
        </div>
      </div>
       <!--Artista 2-->
       <div class="p-4 lg:w-1/4 md:w-1/2">
        <div class="h-full flex flex-col items-center text-center">
          <a href="/artist2" >
          <img alt="team" class="flex-shrink-0 rounded-lg w-full h-65 object-cover object-center mb-4" src="/assets/imagenes/rolando/foto2.jpg">
          </a>
          <div class="w-full">
            <a href="/artist2" >
            <h2 class="title-font font-medium text-lg text-white">Rolando Monterrosa</h2>
          </a>
            <h3 class="text-black mb-3"></h3>
         
          </div>
        </div>
      </div>
       <!--Artista 3-->
       <div class="p-4 lg:w-1/4 md:w-1/2">
        <div class="h-full flex flex-col items-center text-center">
          <a href="/artist3" >
          <img alt="team" class="flex-shrink-0 rounded-lg w-full h-65 object-cover object-center mb-4" src="/assets/imagenes/rocio/foto1.jpg">
          </a>
          <div class="w-full">
            <a href="/artist3" >
            <h2 class="title-font font-medium text-lg text-white">Rocio Martinez</h2>
          </a>
            <h3 class="text-black mb-3"></h3>
         
          </div>
        </div>
      </div>
       <!--Artista 4-->
       <div class="p-4 lg:w-1/4 md:w-1/2">
        <div class="h-full flex flex-col items-center text-center">
          <a href="/artist4" >
          <img alt="team" class="flex-shrink-0 rounded-lg w-full h-65 object-cover object-center mb-4" src="/assets/imagenes/memink/foto1.jpg">
          </a>
          <div class="w-full">
            <a href="/artist4" >
            <h2 class="title-font font-medium text-lg text-white">Memink Cruz
            </h2>
          </a>
            <h3 class="text-black mb-3"></h3>
         
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/4 md:w-1/2">
        <div class="h-full flex flex-col items-center text-center">
          <a href="/artist5" >
          <img alt="team" class="flex-shrink-0 rounded-lg w-full h-65 object-cover object-center mb-4" src="/assets/imagenes/elmer/foto1.jpg">
          </a>
          <div class="w-full">
            <a href="/artist5" >
            <h2 class="title-font font-medium text-lg text-white">Elmer Lovo
            </h2>
          </a>
            <h3 class="text-black mb-3"></h3>
         
          </div>
        </div>
      </div>
        <!--Mas Artistas-->
    </div>
  </div>
</section>