<section class="text-white body-font bg-black">
    
    <div class="container px-5 py-24 mx-auto flex flex-col">

      <p class="text-4xl font-black text-white dark:text-white text-left">Rocio Martinez</p>
      <p class="text-xl font-semibold text-black dark:text-black">.</p>
      <div class="lg:w-4/6 mx-auto">
       
        <div class="flex flex-col sm:flex-row mt-10">
          <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
           
            <div class="flex flex-col items-center text-center justify-center">
                <img alt="team" class="flex-shrink-0 rounded-lg w-full h-100 object-cover object-center mb-4" src="/assets/imagenes/memink/foto2.jpg">

            </div>
          </div>
          <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
            <p class="leading-relaxed text-lg mb-4">International tattoo artist and founder of Paradise Tattoo Antigua Guatemala and Black Ocean located in El Salvador. With more than 10 years of experience in the artistic world of tattooing. Born in El Salvador and Guatemalan based.</p>
            <p class="leading-relaxed text-lg mb-4">I specialized in realism and sub realism. I also enjoy creating oriental tattoos. My work is characterized by taking detail to the maximum and working multiple sessions to guarantee a perfect and optimal finish in each piece so that you can carry a work of art for life.

            </p>
            <p class="leading-relaxed text-lg mb-4">I describe myself as a talkative person, I enjoy a good talk during a session. I thank all my clients for trusting my work.


            </p>

          </div>
        </div>
      </div>


      <p class="text-4xl font-black text-white dark:text-white text-center">❀ Galery ❀</p>
    <p class="text-xl font-semibold text-black dark:text-black">.</p>
    <!--Galery-->
<div class="grid grid-cols-2 md:grid-cols-4 gap-4 bg-black">
    <div class="grid gap-4">
      
        
        <div>
            <img class="h-85 max-w-85 rounded-lg hover:scale-125" src="/assets/imagenes/memink/1.jpg" alt="">

            <img class="h-85 max-w-85 rounded-lg hover:scale-125" src="/assets/imagenes/memink/9.jpg" alt="">

        </div>
        
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-85 max-w-85 rounded-lg hover:scale-125" src="/assets/imagenes/memink/2.jpg" alt="">
            <img class="h-85 max-w-85 rounded-lg hover:scale-125" src="/assets/imagenes/memink/5.jpeg" alt="">

        </div>
        
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-85 max-w-85 rounded-lg hover:scale-125" src="/assets/imagenes/memink/3.jpeg" alt="">
            <img class="h-85 max-w-85 rounded-lg hover:scale-125" src="/assets/imagenes/memink/7.jpeg" alt="">

        </div>
      
    </div>
    
        
    <div class="grid gap-4">
        <div>
            <img class="h-85 max-w-85 rounded-lg hover:scale-125" src="/assets/imagenes/memink/4.jpeg" alt="">
            <img class="h-85 max-w-85 rounded-lg hover:scale-125" src="/assets/imagenes/memink/8.jpeg" alt="">

        </div>
       
    </div>
  
</div>


      
    </div>
  </section>