<!--About Us-->
<section class="text-white-600 body-font bg-black">
    <div class="container px-5 py-24 mx-auto flex flex-col">
        <p class="text-xl font-semibold text-black dark:text-black">.</p>

    <p class="text-4xl font-black text-white dark:text-white text-center">About Us</p>
    <p class="text-xl font-semibold text-black dark:text-black">.</p>
      <div class="lg:w-4/6 mx-auto">
       
        <div class="flex flex-col sm:flex-row mt-10">
          <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
            <!--Logo-->
            <div>
                <img class="h-auto max-w-full rounded-lg hover:scale-125" src="/assets/imagenes/blackocean1.png" alt="">
            </div>
          </div>
          
          <!--About Us-->
          <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
            <p class="leading-relaxed text-lg mb-4 text-white">Meggings portland fingerstache lyft, post-ironic fixie man bun banh mi umami everyday carry hexagon locavore direct trade art party. Locavore small batch listicle gastropub farm-to-table lumbersexual salvia messenger bag. Coloring book flannel truffaut craft beer drinking vinegar sartorial, disrupt fashion axe normcore meh butcher. Portland 90's scenester vexillologist forage post-ironic asymmetrical, chartreuse disrupt butcher paleo intelligentsia pabst before they sold out four loko. 3 wolf moon brooklyn.</p>
            
           
          </div>
        </div>
      </div>
    </div>
  </section>