<section class="text-white body-font bg-black">
    
    <div class="container px-5 py-24 mx-auto flex flex-col">

      <p class="text-4xl font-black text-white dark:text-white text-left">Jonathan Palacios</p>
      <p class="text-xl font-semibold text-black dark:text-black">.</p>
      <div class="lg:w-4/6 mx-auto">
       
        <div class="flex flex-col sm:flex-row mt-10">
          <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
           
            <div class="flex flex-col items-center text-center justify-center">
                <img alt="team" class="flex-shrink-0 rounded-lg w-full h-100 object-cover object-center mb-4" src="assets/imagenes/Jony2.jpg">

            </div>
          </div>
          <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
            <p class="leading-relaxed text-lg mb-4">Hola! Mi nombre es Jonathan Palacios. Mejor conocido como Jony, Soy tatuador hace 5 años, Egresado de la licenciatura de Artes plásticas de la Universidad Nacional de El Salvador. Desde pequeño sentí fascinación por el arte en la mayoría de sus expresiones y ramas. Siendo el dibujo y la pintura la de mi principal interés, con el apoyo de mis padres curse algunas clases de dibujo a mis 10 años. Para luego formar parte de algunos colectivos artísticos que tenían como objetivo mostrar el arte desde un punto de vista personal. Mis influencias en el dibujo vienen desde los antiguos maestros del arte clásico. Como Rembrandt, Claude Monet entre otros. </p>
           
          </div>
        </div>
      </div>


      <p class="text-4xl font-black text-white dark:text-white text-center">❀ Galery ❀</p>
    <p class="text-xl font-semibold text-black dark:text-black">.</p>
    <!--Galery-->
<div class="grid grid-cols-2 md:grid-cols-4 gap-4 bg-black">
    <div class="grid gap-4">
        <div>
            <img class="h-85 max-w-85 rounded-lg hover:scale-125" src="/assets/imagenes/jony/_DSC8111.jpeg" alt="">
            
        </div>

        
        <div>
            <img class="h-85 max-w-85 rounded-lg hover:scale-125" src="/assets/imagenes/jony/IMG_1285.jpeg" alt="">
        </div>
        
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-85 max-w-85 rounded-lg hover:scale-125" src="/assets/imagenes/jony/IMG_9702.jpeg" alt="">
        </div>
        
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-85 max-w-85 rounded-lg hover:scale-125" src="/assets/imagenes/jony/IMG_9024.jpeg" alt="">
        
        </div>
      
    </div>
    
        
    <div class="grid gap-4">
        <div>
            <img class="h-85 max-w-85 rounded-lg hover:scale-125" src="/assets/imagenes/jony/IMG_9638.jpeg" alt="">
        </div>
       
    </div>
  
</div>


      
    </div>
  </section>