<section class="text-white body-font bg-black">
    
    <div class="container px-5 py-24 mx-auto flex flex-col">

      <p class="text-4xl font-black text-white dark:text-white text-left">Elmer Ivan Lovo Rivera</p>
      <p class="text-xl font-semibold text-black dark:text-black">.</p>
      <div class="lg:w-4/6 mx-auto">
       
        <div class="flex flex-col sm:flex-row mt-10">
          <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
           
            <div class="flex flex-col items-center text-center justify-center">
                <img alt="team" class="flex-shrink-0 rounded-lg w-full h-100 object-cover object-center mb-4" src="/assets/imagenes/elmer/foto2.jpg">

            </div>
          </div>
          <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
            <!--<p class="leading-relaxed text-lg mb-4">Mi nombre es Rocío Martínez, conocida por muchos como Roco, Salvadoreña y artista del tatuaje desde el 2018. Graduada de la Escuela de Artes y Diseño de la Universidad de El Salvador.</p>
            <p class="leading-relaxed text-lg mb-4">Disfruto mucho de dibujar y pintar, lo hago desde muy pequeña y actualmente tengo el privilegio de hacerlo en la piel de las personas.

            </p>
            <p class="leading-relaxed text-lg mb-4">Si bien mi estilo aún está evolucionando, disfruto mucho tatuar a color o blackwork, ya sea en estilo ilustrativo, new school, art nouveau y arte grabado.
            </p>-->

          </div>
        </div>
      </div>


      <p class="text-4xl font-black text-white dark:text-white text-center">❀ Galery ❀</p>
    <p class="text-xl font-semibold text-black dark:text-black">.</p>
    <!--Galery-->
<div class="grid grid-cols-2 md:grid-cols-4 gap-4 bg-black">
    <div class="grid gap-4">
      
        
        <div>
            <img class="h-85 max-w-85 rounded-lg hover:scale-125" src="/assets/imagenes/elmer/1.jpeg" alt="">

            <img class="h-85 max-w-85 rounded-lg hover:scale-125" src="/assets/imagenes/elmer/6.jpeg" alt="">

        </div>
        
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-85 max-w-85 rounded-lg hover:scale-125" src="/assets/imagenes/elmer/2.jpeg" alt="">
            <img class="h-85 max-w-85 rounded-lg hover:scale-125" src="/assets/imagenes/elmer/5.jpeg" alt="">

        </div>
        
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-85 max-w-85 rounded-lg hover:scale-125" src="/assets/imagenes/elmer/3.jpeg" alt="">
            <img class="h-85 max-w-85 rounded-lg hover:scale-125" src="/assets/imagenes/elmer/7.jpeg" alt="">

        </div>
      
    </div>
    
        
    <div class="grid gap-4">
        <div>
            <img class="h-85 max-w-85 rounded-lg hover:scale-125" src="/assets/imagenes/elmer/4.jpeg" alt="">
            <img class="h-85 max-w-85 rounded-lg hover:scale-125" src="/assets/imagenes/elmer/8.jpeg" alt="">

        </div>
       
    </div>
  
</div>


      
    </div>
  </section>