<section class="text-gray-600 body-font bg-black">

    <p class="text-xl font-semibold text-black dark:text-black">.</p>
    <p class="text-xl font-semibold text-black dark:text-black">.</p>
    
    <p class="text-xl font-semibold text-black dark:text-black">.</p>
    <p class="text-xl font-semibold text-blue-600/75 dark:text-blue-500/75 text-center">Galery</p>

    <p class="text-xl font-semibold text-black dark:text-black">.</p>

    <p class="text-4xl font-black text-white dark:text-white text-center">❀ Our Latest Work ❀</p>
    <p class="text-xl font-semibold text-black dark:text-black">.</p>

<!--Galery-->
<div class="grid grid-cols-2 md:grid-cols-4 gap-4 bg-black">
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg hover:scale-125" src="/assets/imagenes/jony/_DSC8111.jpeg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg hover:scale-125" src="/assets/imagenes/jony/IMG_1285.jpeg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg hover:scale-125" src="/assets/imagenes/jony/IMG_9702.jpeg" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg hover:scale-125" src="/assets/imagenes/rolando/8d00a922-a5ea-4714-9b66-884949b6aca5.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg hover:scale-125" src="/assets/imagenes/rolando/_DSC6890.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg hover:scale-125" src="/assets/imagenes/rolando/F89C9E0B-6BB8-4FBB-B3AF-1721D6793CC0.JPG" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg hover:scale-125" src="/assets/imagenes/rocio/6.JPG" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg hover:scale-125" src="/assets/imagenes/rocio/2.JPG" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg hover:scale-125" src="/assets/imagenes/rocio/1.JPG" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg hover:scale-125" src="/assets/imagenes/elmer/3.jpeg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg hover:scale-125" src="/assets/imagenes/elmer/5.jpeg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg hover:scale-125" src="/assets/imagenes/elmer/4.jpeg" alt="">
        </div>
    </div>
</div>
    
<!--Galery-->
</section>