

<div class="grid grid-cols-2 md:grid-cols-4 gap-4 bg-black">
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg hover:scale-125" src="/assets/imagenes/blackocean1.png" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg hover:scale-125" src="/assets/imagenes/blackocean2.png" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg hover:scale-125" src="/assets/imagenes/blackocean3.png" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg hover:scale-125" src="/assets/imagenes/blackocean4.png" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg hover:scale-125" src="/assets/imagenes/blackocean5.png" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg hover:scale-125" src="/assets/imagenes/blackocean6.png" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg hover:scale-125" src="/assets/imagenes/blackocean7.png" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg hover:scale-125" src="/assets/imagenes/blackocean8.png" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg hover:scale-125" src="/assets/imagenes/blackocean9.png" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg hover:scale-125" src="/assets/imagenes/blackocean10.png" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg hover:scale-125" src="/assets/imagenes/blackocean11.png" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg hover:scale-125" src="/assets/imagenes/blackocean12.png" alt="">
        </div>
    </div>
</div>
