

<section class="text-gray-600 body-font bg-black">


    <section class=" body-font overflow-hidden text-white">
        <div class="container px-5 py-24 mx-auto">
          <div class="-my-8 divide-y-2 divide-gray-100">
            <div class="py-8 flex flex-wrap md:flex-nowrap">
                <!--1-->
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-white title-font mb-2">1. Can I get a refund of my down payment?</h2>
                <p class="leading-relaxed">There are no refunds. Losing your appointment also means the artist losses their day.</p>
                
              </div>
            </div>
            <!--2-->
            <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-white title-font mb-2">2. Do you accept Walk-in Clients?</h2>
                <p class="leading-relaxed">You can come any time to our studio without an appointment. But you may have to wait for the artist to be available. However it is easy to make an appointment with us through Instagram <a class="font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline"  href="https://www.instagram.com/blackoceansv/ "><strong>(Link Instagram)</strong></a>  or on our website.</p>
                
              </div>
            </div>
            <!--3-->
            <div class="py-8 flex flex-wrap md:flex-nowrap">
             
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-white title-font mb-2">3. Do  I need to have my design done?</h2>
                <p class="leading-relaxed">You need 1 to 3 visual references, the area of the tattoo and the size you want it.
                </p>
                   <p> The price depends on the final design and size.
                    
                </p>
              </div>
            </div>
            <!--4-->
            <div class="py-8 flex flex-wrap md:flex-nowrap">
             
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-white title-font mb-2">4. Extra</h2>
                  <p class="leading-relaxed">You need to arrive 20 minutes before your appointment.
                  </p>
                   <p> Use comfortable clothing.
                  </p>
                  <p> Personal hygiene is recommended before and after getting your tattoo.Do not come under the effects of any substances, such as alcohol or drugs.
                </p>
                <p> Don´t be afraid of reaching us for any other concern.
                </p>
                </div>
              </div>
                <!--5-->
              <div class="py-8 flex flex-wrap md:flex-nowrap">
                
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-white title-font mb-2">5.  How can I make an appointment?</h2>
                  <p class="leading-relaxed">Through our website or Instagram. You have to make a down payment of $65.00 and confirm hour and day.

                  </p>
                  
                </div>
              </div>
            <!--6-->
              <div class="py-8 flex flex-wrap md:flex-nowrap">
             
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-white title-font mb-2">6.  How do I take care of my Tattoo?                </h2>
                  <p class="leading-relaxed">Things you must avoid days after getting your tattoo.
                  </p>
                   <p> -Sun exposure.
                  </p>
                  <p> -Sweating.
                </p>
                <p> -Pools and beaches.
                </p>
                <p> You will get more info after tattoo day.                    
                </p>
                </div>
              </div>
            <!--7-->
              <div class="py-8 flex flex-wrap md:flex-nowrap">
                
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-white title-font mb-2">7.   How much does a tattoo cost? </h2>
                  <p class="leading-relaxed">There is no specific price. It depends on various facts such as design, size and tattoo area.
                  </p>
                  
                </div>
              </div>
            <!--8-->
              <div class="py-8 flex flex-wrap md:flex-nowrap">
                
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-white title-font mb-2">8.    What are your working hours? </h2>
                  <p class="leading-relaxed">Monday to Saturday, 9 to 17 hours.
                  </p>
                  <p class="leading-relaxed">Sundays only under appointment.
                </p>
                  
                </div>
              </div>

            <!--9-->
              <div class="py-8 flex flex-wrap md:flex-nowrap">
                
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-white title-font mb-2">9.     What form of payment do you accept?                </h2>
                  <p class="leading-relaxed">Cash and transactions.
                  </p>
                  <p class="leading-relaxed">Credit or debit cards with a 10% charge.
                </p>
                <p class="leading-relaxed">Visacuotas.
                </p>
                  
                </div>
              </div>

              <!--10-->

              <div class="py-8 flex flex-wrap md:flex-nowrap">
                
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-white title-font mb-2">10. What happens if I can´t assist to my appointment? </h2>
                  <p class="leading-relaxed">You must inform within 48 hours to reschedule your appointment.                    
                  </p>
                  <p class="leading-relaxed">You can reschedule only once.
                </p>
                </div>
              </div>

              <!--11-->


              <div class="py-8 flex flex-wrap md:flex-nowrap">
                
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-white title-font mb-2">11.  What is the minimum age to get tattooed? </h2>
                  <p class="leading-relaxed">You must have the minimum legal age.                                      
                  </p>
                </div>
              </div>

                <!--12-->


                <div class="py-8 flex flex-wrap md:flex-nowrap">
                
                    <div class="md:flex-grow">
                      <h2 class="text-2xl font-medium text-white title-font mb-2">12.   What type of tattoos do you do? </h2>
                      <p class="leading-relaxed">
                        
                        We got a variety of specialized artists in different tattoo styles who can assist you finding the tattoo you want. You can see our work on our social under <a class="font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline"  href="https://www.instagram.com/blackoceansv/ "><strong>BLACKOCEAN</strong></a>


                      </p>
                    </div>
                  </div>
                  <!--13-->


                <div class="py-8 flex flex-wrap md:flex-nowrap">
                
                    <div class="md:flex-grow">
                      <h2 class="text-2xl font-medium text-white title-font mb-2">13.    Where are you located?  </h2>
                      <p class="leading-relaxed">
                            Plaza Greenside,Segundo Nivel, Bulevard Cuscatlan, Nuevo Cuscatlan

                      </p>
                    </div>
                  </div>


          </div>
        </div>
      </section>
</section>      