<section class="text-white body-font bg-black">
    
    <div class="container px-5 py-24 mx-auto flex flex-col">

      <p class="text-4xl font-black text-white dark:text-white text-left">Rolando Monterrosa</p>
      <p class="text-xl font-semibold text-black dark:text-black">.</p>
      <div class="lg:w-4/6 mx-auto">
       
        <div class="flex flex-col sm:flex-row mt-10">
          <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
           
            <div class="flex flex-col items-center text-center justify-center">
                <img alt="team" class="flex-shrink-0 rounded-lg w-full h-100 object-cover object-center mb-4" src="/assets/imagenes/rolando/foto1.jpg">

            </div>
          </div>
          <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
            <p class="leading-relaxed text-lg mb-4">Hola Mi nombre es Rolando Monterrosa cofundador de Black Oceans Tattoo Studio El Salvador. Y fundador de SIVAR ART CO ropa urbana .Tengo 15 años de experiencia en el tatuaje . Nací en San Salvador el 2 de Febrero de 1987 . Me especializo en el estilo tradicional , Neotradicional, soy versátil en todos los estilos , me fascina retratar mascotas y personas en el estilo que me especializo.</p>
            <p class="leading-relaxed text-lg mb-4">Mi trabajo se caracteriza por llevar una línea firme y precisa colores sólidos y vibrantes garantizó un trabajo Perfecto y se que lo vas a lucir tu pieza con orgullo.
            </p>
            <p class="leading-relaxed text-lg mb-4">Me considero una persona tranquila me gusta lo simple de la vida ,me gusta la buena música y todo lo vintage ,gracias por leer y tatuarte conmigo será un gusto torturarte.
            </p>

          </div>
        </div>
      </div>


      <p class="text-4xl font-black text-white dark:text-white text-center">❀ Galery ❀</p>
    <p class="text-xl font-semibold text-black dark:text-black">.</p>
    <!--Galery-->
<div class="grid grid-cols-2 md:grid-cols-4 gap-4 bg-black">
    <div class="grid gap-4">
      
        
        <div>
            <img class="h-85 max-w-85 rounded-lg hover:scale-125" src="/assets/imagenes/rolando/8d00a922-a5ea-4714-9b66-884949b6aca5.jpg" alt="">

            <img class="h-85 max-w-85 rounded-lg hover:scale-125" src="/assets/imagenes/rolando/FullSizeRender.jpg" alt="">

        </div>
        
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-85 max-w-85 rounded-lg hover:scale-125" src="/assets/imagenes/rolando/_DSC6890.jpg" alt="">
            <img class="h-85 max-w-85 rounded-lg hover:scale-125" src="/assets/imagenes/rolando/IMG_1043.jpg" alt="">

        </div>
        
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-85 max-w-85 rounded-lg hover:scale-125" src="/assets/imagenes/rolando/E14078A5-02B8-411A-9F0D-698016B58C13.jpg" alt="">
            <img class="h-85 max-w-85 rounded-lg hover:scale-125" src="/assets/imagenes/rolando/IMG_1377_Original.JPG" alt="">

        </div>
      
    </div>
    
        
    <div class="grid gap-4">
        <div>
            <img class="h-85 max-w-85 rounded-lg hover:scale-125" src="/assets/imagenes/rolando/F89C9E0B-6BB8-4FBB-B3AF-1721D6793CC0.JPG" alt="">
            <img class="h-85 max-w-85 rounded-lg hover:scale-125" src="/assets/imagenes/rolando/IMG_3740_Original.JPG" alt="">

        </div>
       
    </div>
  
</div>


      
    </div>
  </section>